<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование книги</title>
</head>
<body>
<form action="#" th:action="@{/api/service/search/book-update}" th:object="${book}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Название книги</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Название книги">
    <br/>
    <label for="price">Цена книги</label>
    <input type="text" th:field="*{price}" id="price" placeholder="Цена книги">
    <br/>
    <label for="totalViews">Кол-во просмотров книги</label>
    <input type="text" th:field="*{totalViews}" id="totalViews" placeholder="Кол-во просмотров книги">
    <br/>
    <label for="rating">Рейтинг книги</label>
    <input type="text" th:field="*{rating}" id="rating" placeholder="Рейтинг книги">
    <br/>
    <label for="genreId">ID жанра</label>
    <input type="text" th:field="*{genreId}" id="genreId" placeholder="ID жанра">
    <br/>
    <label for="authorId">ID автора</label>
    <input type="text" th:field="*{authorId}" id="authorId" placeholder="ID автора">
    <br/>

    <input type="submit" value="Обновить Информацию">
</form>
</body>
</html>